body {
    font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat-Bold', sans-serif;
    line-height: 1.5;
    font-weight: 700;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.0rem;
}

p {
    color: #8f8f8f;
}


.big-heading {
    font-family: 'Montserrat-Bold', sans-serif;
    line-height: 1.5;
    font-weight: 700;
}



#title {
    background-color: #ff4c68;
    color           : white;
    height          : auto;
}

.container-fluid {
    padding: 3% 15% 7%;
}



.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu';
    font-size  : 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0;
}

.nav-link {
    font-family: 'Montserrat';
    font-size  : 1.2rem;

}

.download-btn {
    margin: 5% 3% 5% 0;
}


.iphone-img {
    width       : 60%;
    position    : absolute;
    transform   : rotate(15deg);
    margin      : 5%;
    margin-right: 30%;
}

#features {
    height          : auto;
    padding         : 7% 15%;
    background-color: mistyrose;
    position        : relative;
    z-index         : 1;
}

.feature-item {
    text-align: center;
    padding   : 5%;
}




.hover {
    color: #000000;
}

.icon {
    color : #ef8172;
    margin: 1rem;
}

.icon:hover {
    color: Black;
}




#testimonials {
    height          : 80vh;
    text-align      : center;
    background-color: #ef8172;
    color           : white;
}

.testimonial-text {
    font-family: 'Montserrat-Bold', sans-serif;
    line-height: 1.5;
    font-weight: 700;

}

.testimonial-img {
    width        : 10%;
    border-radius: 100%;
    margin       : 20px;
}

.carousel-item {
    padding: 7% 15%;
}

#press {
    background-color: #ef8172;
    text-align      : center;
    padding-bottom  : 3%;
}

.press-logo {
    width : 15%;
    margin: 2%;
}






#pricing {
    padding   : 100px;
    text-align: center;
    height    : auto;
}

.pricing-title {
    font-family: 'Montserrat-Bold', sans-serif;
    font-size  : 2.5rem;
    font-weight: 700;
    line-height: 1.75;
}

.pricing-subtitle {
    font-family: 'Montserrat-Bold', sans-serif;
    font-size  : 1.8rem;
    font-weight: 400;
    line-height: 1.25;
}

.pricing-text {
    font-size  : 3rem;
    line-height: 1.5;
}







@media(max-width:1028px) {
    .iphone-img {
        position : static;
        transform: rotate(0deg);
margin: 50px auto;    }

    #title {
        text-align: center;
    }
}

#cta {
    background-color: #ff4c68;
    color           : white;
    padding         : 5% 15%;
    text-align      : center;
    padding         : auto;
}

.cta-text {
    color    : white;
    height   : auto;
    font-size: 2.2rem;
}

#footer {
    padding   : 7% 15%;
    text-align: center;

}

.footer-item {
    margin: 2%;
}